.txt-inicial {
    margin-top: 70px;
    /*background: #FFDC7F;*/
    padding-top: 20px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

#typewriter {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.user-info {
    text-align: center;
    font-size: small;
    color: #16325B;
}

.user-info p {
    margin: 2px;
}


.charts-container {
    margin: 50px auto;
    padding: 20px;
    width: 90%;
    max-width: 1200px;
}

.chart-container {
    margin: 30px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h3 {
    text-align: center;
    color: #1e3a8a;
    margin-bottom: 20px;
    font-size: 1.8rem;
}