.txt-inicial {
    margin-top: 70px;
    background: #FFDC7F;
    padding: 20px; 
    box-sizing: border-box; 
}

#typewriter {
    margin: 0 auto; /* Centra el texto */
    width: 100%;
    text-align: center; /* Centra el texto horizontalmente */
    font-size: 24px; /* Ajusta el tamaño de la fuente */
    font-weight: bold;
}
