.cont{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    margin-top: 10%;
}

h1{
    text-align: center;
}

.imgForgot{
    width: 200px;
}

.divImgForgot{
    text-align: center;
}

.mensaje{
    text-align: center;
}